 <div class="sales-boxes">
    
<p-table
#dt1
[value]="customers"
dataKey="id"
[rows]="10"
[showCurrentPageReport]="true"
[rowsPerPageOptions]="[10, 25, 50]"

[paginator]="true"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
>
<ng-template pTemplate="caption">
    <div class="flex">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search keyword" />
        </span>
    </div>
</ng-template>
<ng-template pTemplate="header">
    <tr>
        <th style="min-width:15rem">
            <div class="flex align-items-center">
                Name
                <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
            </div>
        </th>
        <th style="min-width:15rem">
            <div class="flex align-items-center">
                Country
                <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
            </div>
        </th>
        <th style="min-width:15rem">
            <div class="flex align-items-center">
                Agent
                <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                    <ng-template pTemplate="header">
                        <div class="px-3 pt-3 pb-0">
                            <span class="font-bold">Agent Picker</span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                       test
                    </ng-template>
                </p-columnFilter>
            </div>
        </th>
        <th style="min-width:10rem">
            <div class="flex align-items-center">
                Date
                <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
            </div>
        </th>
        <th style="min-width:10rem">
            <div class="flex align-items-center">
                Balance
                <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
            </div>
        </th>
        <th style="min-width:10rem">
            <div class="flex align-items-center">
                Status
                <p-columnFilter field="status" matchMode="equals" display="menu">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        
                    </ng-template>
                </p-columnFilter>
            </div>
        </th>
        <th style="min-width:10rem">
            <div class="flex align-items-center">
                Activity
                <p-columnFilter field="activity" matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                    <ng-template pTemplate="filter" let-filter="filterCallback">
                        <!-- <p-slider [ngModel]="activityValues" [range]="true" (onSlideEnd)="filter($event.values)" styleClass="m-3"></p-slider> -->
                        <div class="flex align-items-center px-2">
                            <span>{{ activityValues[0] }}</span>
                            <span>{{ activityValues[1] }}</span>
                        </div>
                    </ng-template>
                </p-columnFilter>
            </div>
        </th>
        <th style="width: 3rem">
            <div class="flex align-items-center">
                Verified
                <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
            </div>
        </th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-customer>
    <tr>
        <td>
            {{ customer.name }}
        </td>
        <td>
            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" style="width: 20px" />
            <span class="ml-1 vertical-align-middle">{{ customer.country.name }}</span>
        </td>
        <td>
            <img [alt]="customer.representative.name" src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ customer.representative.image }}" width="32" style="vertical-align: middle" />
            <span class="ml-1 vertical-align-middle">{{ customer.representative.name }}</span>
        </td>
        <td>
            {{ customer.date | date: 'MM/dd/yyyy' }}
        </td>
        <td>
            {{ customer.balance | currency: 'USD':'symbol' }}
        </td>
        <td>
            <!-- <p-tag [value]="customer.status" [severity]="getSeverity(customer.status)"></p-tag> -->
        </td>
        <td>
            <p-progressBar [value]="customer.activity" [showValue]="false"></p-progressBar>
        </td>
        <td class="text-center">
            <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': customer.verified, 'text-red-500 pi-times-circle': !customer.verified }"></i>
        </td>
    </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="7">No customers found.</td>
    </tr>
</ng-template>
</p-table>
 <p-table [value]="users" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Request Name</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Qty</th>
              <th>Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
         

              <td>{{ product.requestName }}</td>
              <td>{{ product.requestDate }}</td>
              <td>{{ product.amount }}</td>
              <td>{{ product.quantity }}</td>
              
              <td>
              
                 <p-button icon="pi pi-user-edit" (click)="editPurchase(product)" styleClass="p-button-rounded p-button-info"></p-button>&NonBreakingSpace;
                  <p-button icon="pi pi-times" (click)="deleteUser(product)" styleClass="p-button-rounded p-button-danger"></p-button>
     
                </td>
          </tr>
      </ng-template>
     
    </p-table> 
           
            
          </div>